{% extends "admin/import_export/base.html" %}
{% load i18n %}
{% load admin_urls %}
{% load import_export_tags %}
{% load bootstrap3 %}

{% block breadcrumbs_last %}
{% trans "Import" %}
{% endblock %}

{% block content %}

{% if confirm_form %}
  {% if result and result.rows|length %}
      <form action="{% url opts|admin_urlname:"process_import" %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form confirm_form %}
        <div class="submit-row">
            <button type="submit" class="btn btn-success" name="confirm" value=>{% trans "Confirm import" %}</button>
        </div>
      </form>
  {% endif %}

  {% else %}
      <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <strong> {% trans "This importer will import the following fields: " %} </strong> </br>
                    <code>{{ fields|join:", " }}</code>
                </div>

                {% if 'id' in fields %}
                <p>
                    <span class="label label-info">Note</span>
                    The leading <strong>id</strong> field may be omitted if not present in original database schema (it was automatically added by the system).
                </p>
                {% endif %}
            </div>
          </div>

          {% bootstrap_form form %}

          <div class="submit-row">
              <button type="submit" class="btn btn-default default" value="{% trans " Submit " %}">Submit</button>
          </div>
      </form>
{% endif %}


{% if result %}

  {% if result.has_errors %}
    <h2>{% trans "Errors" %}</h2>
    <ul class="list-group">
      {% for error in result.base_errors  %}
      <li class="list-group-item">
        {{ error.error }}
        <div class="traceback">{{ error.traceback|linebreaks }}</div>
      </li>
      {% endfor %}
      {% for line, errors in result.row_errors %}
        {% for error in errors %}
          <li class="list-group-item">
            {% trans "Line number" %}: {{ line }} - {{ error.error }}
            <div><code>{{ error.row.values|join:", " }}</code></div>
            <div class="traceback">{{ error.traceback|linebreaks }}</div>
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% else %}


  {% if not result.rows|length %}
    <h1>Nothing to import</h1>
    <p>
        <span class="label label-info">Note</span>
        There are no new rows or updated values in the imported file.
    </p>

  {% else %}

  <h2>
    {% trans "Preview" %}
  </h2>

  <div class="table-responsive">
  <table class="table table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th>record status</th>
        {% for field in result.diff_headers %}
          <th>{{ field }}</th>
        {% endfor %}
      </tr>
    </thead>
    {% for row in result.rows %}
    <tr>
      <td>
        {% if row.import_type == 'new' %}
          {% trans "New" %}
        {% elif row.import_type == 'skip' %}
          {% trans "Skipped" %}
        {% elif row.import_type == 'delete' %}
          {% trans "Delete" %}
        {% elif row.import_type == 'update' %}
          {% trans "Update" %}
        {% endif %}
      </td>
      {% for field in row.diff %}
      <td>
        {{ field }}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  </div>

  {% endif %}

  {% endif %}

  {% endif %}
{% endblock %}
