[uwsgi]

# Django-related settings
# the base directory (full path)
chdir           = /srv/django-projects/brapi/
# Django's wsgi file
module          = brapi.wsgi
# the virtualenv (full path)
home            = /srv/django-projects/brapi/brapi-venv
# project settings
env = DJANGO_SETTINGS_MODULE=brapi.settings


# process-related settings
# master
master          = true
# maximum number of worker processes
processes       = 10
# the socket (use the full path to be safe
socket          = unix:///tmp/brapi.sock
# ... with appropriate permissions - may be needed
chmod-socket    = 664
# clear environment on exit
vacuum          = true

# logto = /srv/django-projects/brapi/brapi.log
