<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>NIB BrAPI</title>
</head>

<body>

<pre style="font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;">
    NNNNNNNNNNmmmmmmmmNmmmmmmmmmmmmmmmmmmmmmmm
    NNNNNNNNNNmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
    NNNNNNNNNNmmmmmdddmNmNNmmmmmmmdmmmmmmmmmmm
    NNNNNNNNmmNmNmmNNmNNNNNmmNNmmmmmdmmmmmmmmm
    NNNNNNmmmmmmNmmmmmNmmmmNNNmmmmmmmmNNNNNNNm
    NNNNNmmNmddddddddddmdhhdmmmmmmmmmmmNNNNNNN
    NNNNNdmyyhhhysysyyyyyhdmmmmmmmmmdddmNNNNNN
    NNNNmdyhyyysoooooooooyhdddhhhhhhhhhhmNNNNN
    NNNNmdyhhhs+///:::-::/++++//+oossyhdmNNNNN
    NNNNmhydhyso///::----.---:::://+ssymNNNNNN
    NNNmdddddhso+/:::----------:://ossohNNNNNN
    mmmmmdmmdhs+//:::----------:://ossymNNNNNN
    NNNmmsmdyo+++++//++/:---://///+oshmNNNNNNN
    NNNNh:sys++////++/+//:-///++++ooodNNNNNNNN
    NNNNN+:os+/:::::--::::-/---:://+omNNNNNNNN
    NNNNNy/+so/::----.-::::/:----::+yNNNNNNNNN
    NNNNNNo/so+/::-.---::--:/----:/sdNNNNNNNNN
    NNNNNNmds++/:::---:://///---::/hmmNNNNNNNN
    NNNNNNNmy+///:::-::::::::::::/+ymmNNNmdmNN
    NNNNNNNNy+///:/:://///////::+/oddmmmmddmNN
    NNNNNNNmss+////:::///:////::++hddmmmmNNNNN
    NNNNNNh/sooo+///::::::::://+sdmmmmmmNNNNmh
    NNNNmd++o+//+++++//:---:/+ohmmmmmmNNNNNNdy
    NNmddd/.:////::+oo++///+oss+hmmmmmmNNNmhys
    mdddddo...:/::::://+++oo++:..+mmmddNNNmhso
    ddddddh:.myyd://+:/dmo/omhhy.dyhhdmNNNNdys
    ddddddds-MhhN:dd+:hmyN/oMhdd-Ms-hdmNNNNdys
    dddddddd+myyh-yo-omoohhom+//-do.-yhhddddhh
    ddddddddh:.-..````-:::://////..``-hhdddddd
</pre>


</body>

</html>
